.storypane img {
  width:100%;
  height:relative;
}

.storyphoto{
  width:100%;
}

.carousel img {
  width:100%;
}
.carousel div {
  text-align:center;
}

.carousel .btn{
  margin-top: 100%;
}


.mascot {
  height:100px;
  width:relative;
}

#mascot-box {
  text-align:right;
  position: fixed;
  top: 5.5%;
  left: 84%;
}
