<div class="container">

  <nav class="navbar navbar-default " style="position: relative; top: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Nutria Feed</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div >
          <ul class="nav navbar-nav navbar-right">
            <li><a {{action "showPopover" on="mouseEnter"}}><span {{action "hidePopover" on="mouseLeave"}}>Mascot</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {{outlet}}
  {{#if mascotShowing }}
    <div id="mascot-box">
      <img {{action "hidePopover" on="mouseLeave"}} src="css/img/mascot.png" style="position: relative; top: 0;" class="mascot"/>
    </div>
  {{/if}}
</div>
